<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" target="_blank" (click)="goBack()">GO BACK</a>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="../assets/img/user.png">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../assets/img/user2.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{user.firstname}}!</h1>
            <p class="text-white mt-0 mb-5">This is your account. You can see your personal details and the amount of money you have in your account.</p>
            <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="../assets/img/user.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h2>
                  {{user.firstname}} {{user.lastname}}
                </h2>
                <div>
                  <i class="ni education_hat mr-2"></i><b>Email Address:</b> 
                  <i class="ni education_hat mr-2"></i>{{user.email}}
                </div>
                <div>
                    <i class="ni education_hat mr-2"></i><b>Phone Number:</b>
                    <i class="ni education_hat mr-2"></i>{{user.phoneno}}
                  </div>
                <hr class="my-4">
                <!-- <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p> -->
                <p>It is our top priority to keep your personal information safe.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My Account</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- <form> -->
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{user.username}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Date of Birth</label>
                        <input readonly type="email" id="input-email" class="form-control form-control-alternative" placeholder="01/01/1990" value="{{user.dob}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input readonly type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{user.firstname}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input readonly type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{user.lastname}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Contact -->
                <h6 class="heading-small text-muted mb-4">Additonal Information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Pancard Number</label>
                          <input readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="Pancard Number" value="{{user.pancardno}}">
                        </div>
                      </div>
                    </div>
                  </div>
                <hr class="my-4">
                <!-- Account Details -->
                <h6 class="heading-small text-muted mb-4">Account Details</h6>
                <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Account Number</label>
                          <input readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="Account Number" value="{{user.accountno}}">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Account Type</label>
                          <input readonly type="email" id="input-email" class="form-control form-control-alternative" placeholder="Multi/Single" value="{{user.accounttype}}">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Base Currency</label>
                          <input readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="USD" value="{{user.basecurrency}}">
                        </div>
                      </div>
                    </div>
                  </div>
                <hr class="my-4">
                <!-- Balance -->
                <h6 class="heading-small text-muted mb-4">Account Balance</h6>
                <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Account Balance Details</label>
                            <input *ngIf="dollar" readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="0" value="{{user.usd}} USD">
                            <input *ngIf="euro" readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="0" value="{{user.eur}} EUR">
                            <input *ngIf="rupee" readonly type="text" id="input-username" class="form-control form-control-alternative" placeholder="0" value="{{user.inr}} INR">
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
    </div>
  </footer>
</body>